[submodule "submodule/json-cpp"]
	path = submodule/json-cpp
	url = https://github.com/makerbot/json-cpp.git
[submodule "submodule/EzCppLog"]
	path = submodule/EzCppLog
	url =  https://github.com/makerbot/EzCppLog.git
[submodule "submodule/toolpathviz"]
	path = submodule/toolpathviz
	url =  https://github.com/makerbot/ToolPathViz.git
[submodule "submodule/libthing"]
	path = submodule/libthing
	url =  https://github.com/makerbot/libthing.git
[submodule "submodule/optionparser"]
	path = submodule/optionparser
	url =  https://github.com/makerbot/optionparser.git
[submodule "submodule/mw-scons-tools"]
	path = submodule/mw-scons-tools
	url = https://github.com/makerbot/mw-scons-tools.git
