#ignore netbeans project directory
nbproject

#ignore project files from eclipse
/.cproject
/.project
/.pydevproject
/.svn

# ignore object files (recursive)
*.o
*.a
*.so
*.bak
*.pyc

# ignore stl folder
stl/*

#ignore build system files
Makefile.*
/miracle_gui.pro.user
/.sconsign.dblite
/moc_*.cpp
/ui_mainwindow.h

#ignore generated gcode files
/*.gcode
inputs/*.gcode
ezlogger.txt


#ignore unit tests
/*UnitTest
*.passed
test_cases/slicerCupTestCase/output/*.scad
test_cases/slicerCupTestCase/output/*.gcode
test_cases/GCoderTestCase/output/*.gcode
test_cases/fileWriterTestCase/output/*
src/unit_tests/*TestCase/*
src/unit_tests/unit_tests.pri
#ignore doyxgen generated docs
documentation/Doxyfile/*
documentation/html/*
documentation/latex/*
documentation/man/*

#ignore bin directory
bin/*

