
#ignore project files from eclipse
/.cproject
/.project
/.pydevproject

#ignore dirs brought in by raw import of json-cpp
sr/json-cpp/test/jsonchecker/*

# ignore object files (recursive)
*.o
*.a
*.so

#ignore doyxgen generated docs
documentation/Doxyfile/*
documentation/html/*
documentation/latex/*
documentation/man/*

