[submodule "submodule/json-cpp"]
	path = submodule/json-cpp
	url = ../json-cpp.git
[submodule "submodule/EzCppLog"]
	path = submodule/EzCppLog
	url = ../EzCppLog.git
[submodule "submodule/toolpathviz"]
	path = submodule/toolpathviz
	url = ../ToolPathViz.git
[submodule "submodule/libthing"]
	path = submodule/libthing
	url = ../libthing.git
[submodule "submodule/optionparser"]
	path = submodule/optionparser
	url = ../optionparser.git
