{
   "slicer" : 
   {
      "angle" :2.356194525, //  1.570796326794897, 0.7853981633974485, 1.570796326794897,
      "nbOfShells":5,
      "firstLayerZ" : 0.10,
      "layerH" : 0.30,
      "layerW" : 0.42,
      "tubeSpacing" : 1, // 2, // 1.125,
      "infillShrinkingMultiplier" : 1,  // unit: layerW
      "insetDistanceMultiplier" : 0.5,  // unit: layerW
      "insetCuttOffMultiplier" : 0.01  // remove short segments during insetting unit: layerW
   },
   "programName" : "Miracle-Grue",
   "firmware" : "v0.0",
   "machineName" : "Dub dub dub", 
   "versionStr" : "v0.0.1.0",   
   "scalingFactor" : 1.0,
   "homing" : {
      "xyMaxHoming" : true, // false for tom, true for replicator
      "zMaxHoming" :  false // true for tom, false for replicator
   },
   "outline" : {  // a rectangle around the part on the build platform
      "enabled"  : false,
      "distance" : 1.0
   },
   "extruders" : [
      {
         "coordinateSystemOffsetX" : -16.5,
         "defaultExtrusionSpeed" : 6.0,
         "extrusionTemperature" : 220.0,
         "fastExtrusionSpeed" : 4.470,
         "fastFeedRate" : 4000,
         "leadIn"  : 0.2, // 0.250,
         "leadOut" : 0.2, // 0.350,
         "nozzleZ" : 0.0,
         "reversalExtrusionSpeed" : 35.0,
         "slowExtrusionSpeed" : 4.470,
         "slowFeedRate" : 3000
      },
      {
         "coordinateSystemOffsetX" : 16.5,
         "defaultExtrusionSpeed" : 6.0,
         "extrusionTemperature" : 220.0,
         "fastExtrusionSpeed" : 4.470,
         "fastFeedRate" : 4000,
         "leadIn"  : 1, // 0.250,
         "leadOut" : 1, // 0.350,
         "nozzleZ" : 0.0,
         "reversalExtrusionSpeed" : 35.0,
         "slowExtrusionSpeed" : 3.470,
         "slowFeedRate" : 3000
      }     
   ],
   "platform" : {
      "automated" : false,
      "temperature" : 110.0,
      "waitingPositionX" : 52.0,
      "waitingPositionY" : -57.0,
      "waitingPositionZ" : 10.0
   },
   "gcoder" : 
   { 
      "outline": false,  // when true, extrude along the perimeter (this should not be enabled normally)
      "insets" : true,   // when true, extrude along insets (a.k.a extrude the shells)
      "infills": true,   // when true, extrude infills paths 
      "infillFirst" : false,  // do infill before insets
      "firstLayerExtrudeMultiplier" : 0.5,  
      "dualtrick" : true      
   }
}



