{
   "homing" : {
      "xyMaxHoming" : true,
      "zMaxHoming" :  false
   },
   "extruders" : [
      {
         "coordinateSystemOffsetX" : 0.0,
         "defaultExtrusionSpeed" : 6.0,
         "extrusionTemperature" : 220.0,
         "fastExtrusionSpeed" : 4.470,
         "fastFeedRate" : 3000,
         "leadIn"  : 0.2, // 0.250,
         "leadOut" : 0.2, // 0.350,
         "nozzleZ" : 0.0,
         "reversalExtrusionSpeed" : 35.0,
         "slowExtrusionSpeed" : 4.470,
         "slowFeedRate" : 2000
      }
   ],
   "firmware" : "",
   "machineName" : "", 
   "versionStr" : "v0.0.1.0",
   "platform" : {
      "automated" : true,
      "temperature" : 110.0,
      "waitingPositionX" : 52.0,
      "waitingPositionY" : -57.0,
      "waitingPositionZ" : 10.0
   },
   "programName" : "Miracle-Grue",
   "scalingFactor" : 1.0,
   "shell" : {
      "distance" : 3.0,
      "enable" : false
   },
   "slicer" : {
      "angle" : 2.356194525, // 0.7853981633974485, 1.570796326794897,
      "nbOfShells":1,
      "firstLayerZ" : 0.110,
      "layerH" : 0.350,
      "layerW" : 0.70,
      "tubeSpacing" : 2, // 1.125,
      "infill_shrinking" : 1.0  // unit: extrusion width
   }
}



